* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
  height: 100vh;
  background: darkslategray;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxes {
  /* border: 1px solid; */
  height: 530px;
  background: radial-gradient(black, transparent);
  width: 650px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.main-box {
  /* border: 1px solid; */
  height: 22%;
  width: 29%;
  /* position: relative; */
}
.box{
    position: relative;
}
.box1,.box2 {
    /* border: 1px solid; */
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.image-box1,.image-box2{
    position: absolute;
    height: 100%;
    width: 100%;
    /* display: none; */
    
    
    /* transform: rotateY(180deg); */
    /* border: 1px solid; */
}

.domy-image{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
}
.image-box2 img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    /* position: absolute; */
}
.image-box1 img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
.domy-image img{
  
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: beige;
}







/* CSS FOR FLIPING IMAGES_________ */
/* CSS FOR FLIPING IMAGES_________ */
/* CSS FOR FLIPING IMAGES_________ */



.main-box{
    background-color: transparent;
    /* width: 300px;
    height: 300px; */
    perspective: 1000px;
  }
  
  .box {
    position: relative;
    /* width: 100%;
    height: 100%; */
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  /* .main-box:hover .box {
    transform: rotateY(180deg);

  } */
   .box:hover .image-box1{
display: flex;
  }
  
  .image-box1,.image-box2, .domy-image {
    position: absolute;
    /* width: 100%;
    height: 100%; */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .domy-image {
    /* background-color: #bbb; */
    color: black;
  }
  
  .image-box1,.image-box2{
    /* background-color: #2980b9; */
    color: white;
    transform: rotateY(180deg);
  }