* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    height: 100vh;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxes {
    border: 1px solid;
    height: 600px;
    width: 600px;
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
}
.box {
    border: 1px solid;
    height: 23%;
    width: 31%;
    /* background-image: url(bheem.jpg); */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
img{
    height: 100%;
    width: 100%;
}